/*
!.gitignore
!README.md
!src/

src/*
!src/pers/

src/pers/*
!src/pers/wangzb96/

src/pers/wangzb96/*
!src/pers/wangzb96/util/
!src/pers/wangzb96/reflect/
!src/pers/wangzb96/dsalg/
!src/pers/wangzb96/test/

src/pers/wangzb96/util/*
!src/pers/wangzb96/util/Util.java

src/pers/wangzb96/reflect/*
!src/pers/wangzb96/reflect/Creator.java
!src/pers/wangzb96/reflect/CreatorDft.java

src/pers/wangzb96/dsalg/*
!src/pers/wangzb96/dsalg/linear/
!src/pers/wangzb96/dsalg/tree/

src/pers/wangzb96/test/*
!src/pers/wangzb96/test/TestNode.java
!src/pers/wangzb96/test/TestTree.java
